*{
	margin: 0;
	padding: 0;
	font-size: 18pt;
}

body{
	padding: 0;
}

#container{
	width: 75%;
	margin: 0 auto;
	position: relative;
}

#top{
	width: 100%;
	height: 140px;
	background: #87CEEB;
}

#left_bar{
	width: 160px;
	height: 350px;
	background: #98FB98;
	float: left;
}

#main{
	height: 350px;
	background: #FFB6C1;
	margin-left: 160px;
	margin-right: 160px;
	position: absolute;

}

#right_bar{
	width: 160px;
	height: 350px;
	background: #98FB98;
	position: absolute;
	top: 140px;
	right: 0px;
	float: right;
}

#footer{
	width: 100%;
	height: 75px;
	background: #FFA07A;
	clear: both;
}