*{
	margin: 0;
	padding: 0;
	font-size: 12pt;
	font-family: Verdana;
}


body{
	padding: 0;	
}

#container{
	width: 1000px;
	margin: 0 auto;
}

#shapka{
	background-image: url(shapka_div.jpg);	
	height: 190px;
	width: 1000px;
	clear: both;
}

#menu{
	width: 260px;
	float: left;
	background: #C8FEFF;
	color: #541C1C;
	padding: 10px 30px;
	height: 100%;
	position: absolute;
}

#main{	
	background-image: url(fon9.jpg);
	margin-left: 300px;
	color: #1D3D7F;
	position: absolute;
	float: right;
	clear: both;
	padding: 10px;
	height: 100%;
	font-size: 13pt;
	width: 680px;
}

#img1{
	position: absolute;
	top: 390px;
	left: 20px;
	border: solid;
	border-color: white;
}
#img2{
	position: absolute;
	top: 420px;
	left: 220px;
	border: solid;
	border-color: white;
}
#img3{
	position: absolute;
	top: 450px;
	left: 420px;
	border: solid;
	border-color: white;
}
#img4{
	position: absolute;
	top: 600px;
	left: 20px;
	border: solid;
	border-color: white;
}
#img5{
	position: absolute;
	top: 630px;
	left: 210px;
	border: solid;
	border-color: white;
}
#img6{
	position: absolute;
	top: 660px;
	left: 410px;
	border: solid;
	border-color: white;
}

.zakaz{
	color: #1D3D7F ;
	font-weight: bold;
	font-size: 13pt;
	text-decoration: none;

}

.proekt{
	color: #7F1D2D ;
	font-weight: bold;
	font-size: 12pt;
	text-decoration: none;
}

#clear{
	clear: both;
}

h1 {
	font-size: 16pt;
}
h2 {
	font-size: 18pt;
}

ol {
	color: #7F1D2D ;
	font-weight: bold;
	font-size: 12pt;

}
ul {
	color: #7F1D2D ;
	font-weight: bold;
	font-size: 12pt;
}
h4{
	color: #7F1D2D ;
	font-weight: bold;
	font-size: 14pt;
}

a:hover{
	text-decoration: underline;
	color: orange;
}
